
<form asp-controller="Reservation" asp-action="Date" method="get">
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="d-flex flex-column">
            <h4>Reserveren gelukt!</h4>
            <button type="submit" class="btn btn-dark">Home</button>
        </div>
    </div>
</form>