@model BeestjeOpEenFeestje.Models.Reservation;

<form asp-controller="Reservation" asp-action="Confirm" method="post">
    @Html.HiddenFor(Model => Model.Id)

    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <h4 class="card-header">
                        Stap 3 - Controleer reservering
                    </h4>
                    <div class="card-body">
                        <button type="submit" class="btn btn-outline-dark">Bevestig</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @await Html.PartialAsync("_ReservationOverview", Model)
            </div>
        </div>
    </div>
</form>
