@model BeestjeOpEenFeestje.ViewModels.LoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Password</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">
                <h3>Ingevulde gegevens: </h3>
            </div>
            <div class="card-body text-center">
                <p class="fw-bold">De e-mail dat je hebt ingevoerd is:</p>
                <p class="alert alert-info">@Model.Email</p>

                <p class="fw-bold">Het wachtwoord dat je hebt ingevoerd is:</p>
                <p class="alert alert-info">@Model.Password</p>

            </div>
            <div class="card-footer text-center">
                <a href="/" class="btn btn-primary">Terug naar Home</a>
            </div>
        </div>
    </div>
</body>
</html>

